<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h2>NodeJS Push Notification ProductApp</h2>
  </div>
</div>


</body>
</html>
